<main class="p-5 flex flex-col justify-center items-center">
  <section class="flex justify-center">
    <h1 class="text-3xl font-bold text-clifford">About</h1>
  </section>
  <section class="flex flex-col w-96">
    <article class="text-gray-600 text-justify">
      <p class="p-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem
        eos fugiat soluta ipsa ab suscipit omnis libero, quia natus dolorum
        velit quam ipsam in facere quis? Dolores, officia sapiente.
      </p>
      <p class="p-3">
        Quo excepturi iusto pariatur consequuntur ratione repellat dolorem
        doloremque debitis. Repudiandae nostrum ipsum quae dolores excepturi
        corrupti, distinctio optio quis sapiente, non corporis illum
        perspiciatis iusto labore ullam dolore tenetur?
      </p>
      <p class="p-3">
        Vitae sapiente ex adipisci possimus ratione laudantium sint quia quae
        vero ipsum libero optio quaerat, ducimus quas excepturi, autem
        explicabo, voluptatibus asperiores qui? Recusandae quas et eligendi quam
        reprehenderit quis.
      </p>
      <p class="p-3">
        Provident obcaecati recusandae laudantium possimus, iusto incidunt nobis
        modi accusantium, ab inventore, enim assumenda tempora culpa aperiam
        nesciunt ducimus dolores quod? Qui blanditiis corporis fuga reiciendis,
        doloribus iusto quae velit.
      </p>
    </article>
  </section>
</main>
