<main class="flex flex-col items-center justify-center p-5">
  <section class="flex justify-center">
    <h1 class="text-clifford text-3xl font-bold">Who are you?</h1>
  </section>
  <section class="w-full max-w-xs p-5">
    <form
      class="flex flex-col gap-3 rounded bg-white px-8 pt-6 pb-8 shadow-md"
      action="/who-am-i"
      method="post"
    >
      <section>
        <label
          class="mb-2 block text-sm font-bold text-gray-700"
          for="firstName"
        >
          First name
        </label>
        <input
          class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
          id="firstName"
          type="text"
          name="firstName"
          placeholder="enter your first name here"
        />
      </section>
      <section>
        <label
          class="mb-2 block text-sm font-bold text-gray-700"
          for="lastName"
        >
          Last name
        </label>
        <input
          class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
          id="lastName"
          type="text"
          name="lastName"
          placeholder="enter your last name here"
        />
      </section>
      <section>
        <label class="mb-2 block text-sm font-bold text-gray-700" for="age">
          Age
        </label>
        <input
          class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
          id="age"
          type="number"
          name="age"
          min="0"
          max="120"
          placeholder="0"
        />
      </section>
      <section>
        <label class="mb-2 block text-sm font-bold text-gray-700" for="jobType">
          Job
        </label>
        <input
          class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
          id="jobType"
          type="text"
          name="jobType"
          placeholder="enter your job type here"
        />
      </section>
      <section>
        <fieldset>
          <legend class="mb-2 block text-sm font-bold text-gray-700">
            Select your sex:
          </legend>
          <section>
            <input id="sex-female" type="radio" name="sexType" value="female" />
            <label class="mb-2 text-sm text-gray-500" for="sex-female">
              female
            </label>
          </section>
          <section>
            <input id="sex-male" type="radio" name="sexType" value="male" />
            <label class="mb-2 text-sm text-gray-500" for="sex-male">
              male
            </label>
          </section>
        </fieldset>
      </section>
      <button
        class="focus:shadow-outline rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none"
        type="submit"
      >
        Submit
      </button>
    </form>
  </section>
</main>
