<main class="p-5 flex flex-col justify-center items-center">
  <section class="flex justify-center">
    <h1 class="text-3xl font-bold text-clifford">Who are you?</h1>
  </section>
  <section class="w-full max-w-xs p-5">
    <form
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 flex flex-col gap-3"
      action="/who-am-i"
      method="post"
    >
      <section>
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="first-name"
        >
          First name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="first-name"
          type="text"
          name="first-name"
          placeholder="enter your first name here"
        />
      </section>
      <section>
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="last-name"
        >
          Last name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="last-name"
          type="text"
          name="last-name"
          placeholder="enter your last name here"
        />
      </section>
      <section>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="age">
          Age
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="age"
          type="number"
          name="age"
          min="0"
          max="120"
          placeholder="0"
        />
      </section>
      <section>
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="job-type"
        >
          Last name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="job-type"
          type="text"
          name="job-type"
          placeholder="enter your job type here"
        />
      </section>
      <section>
        <fieldset>
          <legend class="block text-gray-700 text-sm font-bold mb-2">
            Select your sex:
          </legend>
          <section>
            <input
              id="sex-female"
              type="radio"
              name="sex-type"
              value="female"
            />
            <label class="text-gray-500 text-sm mb-2" for="sex-female">
              female
            </label>
          </section>
          <section>
            <input id="sex-male" type="radio" name="sex-type" value="male" />
            <label class="text-gray-500 text-sm mb-2" for="sex-male">
              male
            </label>
          </section>
        </fieldset>
      </section>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Submit
      </button>
    </form>
  </section>
</main>
