<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>
  <body class="container">
    <main class="p-5">
      <section class="flex justify-center">
        <h1 class="text-3xl font-bold text-clifford">Hello <%= name %></h1>
      </section>
    </main>
  </body>
</html>
